.logo {
    border-radius: 10%;
    border: 2px solid #fff;
}

.blog-form input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
.blog-form input[type="text"]:focus,.blog-form input[type="text"].focus {
    outline: none;
    border-bottom: solid 2px #969696;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.no-underline-link:hover {
    text-decoration: none;
}

.blogs-table-list, .font-size-16px {
    font-size: 16px;
}

.font-size-15px {
    font-size: 15px;
}

.app-row {
    width: 100%;
}

.app-col1 {
    width: 10%;
    float: left;
}

.app-col2 {
    width: 20%;
    float: left;
}

.app-col3 {
    width: 33%;
    float: left;
}

.app-col4 {
    width: 25%;
    float: left;
}

.tags {
    margin-left: 15px;
}

.tag {
    border-radius: 1px;
    background-color: #C0C0C0;
    padding: 3px;
    margin-left: 5px;
    font-size: 15px;
    color: #000;
}

.tag:hover {
    color: #000;
    text-decoration: none;
}

.tag:visited {
    text-decoration: none;
}