<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layouts/admin :: header">
        <meta charset="UTF-8"/>
        <title>Title</title>
    </th:block>
    <link href="../../public/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <th:block th:include="layouts/admin :: sidebar(${CURRENT_USER.profilePicture}, ${CURRENT_USER.name}, ${CURRENT_USER.about})">

    </th:block>
    <div id="blog-content" class="content container">
        <div class="posts">
            <div class="post">
                <form id="create-new-blog-form" class="blog-form" action="/admin/save" th:action="@{/admin/save}" method="post">
                    <input type="text" name="title" placeholder="Title"/>
                    <input type="text" name="description" placeholder="Description"/>
                    <input type="text" name="tags" placeholder="Tags (space separated tags)"/>
                    <textarea id="ck-editor-text-area" name="content"></textarea>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="layouts/admin :: scripts">
        <script src="../../public/js/jquery-ui.js"></script>
    </th:block>
    <script src="../../public/js/ckeditor/ckeditor.js" th:src="@{/js/ckeditor/ckeditor.js}"></script>
    <script th:inline="javascript">
//        var imageUploadUrl = [[@{/upload/image}]] ? [[@{/upload/image}]] : '/upload/image';
        CKEDITOR.replace('ck-editor-text-area', {
            extraPlugins: 'uploadimage',
            filebrowserBrowseUrl: '/file/browse',
            filebrowserImageUploadUrl: '/file/upload'
        });
    </script>
</body>
</html>